html {
    background-color: #eee;
    margin: 0;
    padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}

input[type="file" i] {
    cursor: pointer;
}
input[type="file" i]::-webkit-file-upload-button{
    display: none;
}
.staticElemet {
    position: static;
}

div:has(.input) {
    min-width: 150px;
}
